<div class="row">
  <div class="col-xs-12">
    <h1 align="center">
      THIS IS WHAT I HAVE USED WHEN WORKING ON PROJECTS
    </h1>
  </div>
</div>

<div align="center" class="row">
  <div class="col-xs-3">
    <h1>GIT</h1>
  </div>
  <div class="col-xs-3">
    <h1>CSS FRAMEWORKS</h1>
  </div>
  <div class="col-xs-3">
    <h1>DATA BASES</h1>
  </div>
  <div class="col-xs-3">
    <h1>APIS</h1>
  </div>
</div>

<div class="row tools-row">
  <div class="col-xs-3">
    <%= image_tag 'tools/bitbucket.png' %>
    <%= image_tag 'tools/github.png' %>
  </div>
  <div class="col-xs-3">
    <%= image_tag 'tools/bootstrap.png' %>
    <%= image_tag 'tools/foundation.png' %>
  </div>
  <div class="col-xs-3">
    <%= image_tag 'tools/postgresql.png' %>
    <%= image_tag 'tools/mysql.png' %>
    <%= image_tag 'tools/sqlite.png' %>
  </div>
  <div class="col-xs-3">
    <%= image_tag 'tools/sendgrid.png' %>
    <%= image_tag 'tools/stripe.png' %>
  </div>
</div>
